body {

}

.titulo-principal {
    text-align: center;
    background-color: #FFFFFF;
    padding: 20px;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
}

#missão

#banner {
    width: 100%;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.imagembeneficios {
    width: 50%;
    margin-top: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
    margin-bottom: 10px;
}

em strong {
    color: #FF0000;
}